[project]
	description = An example project that's configured for JUnit and Mocha
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AKASH007045
[access "refs/for/refs/*"]
	read = group user/AKASH007045
	push = group user/AKASH007045
	label-Code-Review = -2..+2 group user/AKASH007045
	label-Verified = -1..+1 group user/AKASH007045
	rebase = group user/AKASH007045
	removeReviewer = group user/AKASH007045
	submit = group user/AKASH007045
[access "refs/heads/*"]
	read = group user/AKASH007045
	create = group user/AKASH007045
	push = +force group user/AKASH007045
	pushMerge = group user/AKASH007045
[access "refs/tags/*"]
	push = group user/AKASH007045
	push = +force group user/AKASH007045
